<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.crazyrunsnail.template.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.github.crazyrunsnail.template.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="roles_array_json" jdbcType="VARCHAR" property="rolesArrayJson"/>
        <result column="logged_in_at" jdbcType="TIMESTAMP" property="loggedInAt"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, name, password, roles_array_json, logged_in_at, created_at, updated_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByUsername" resultType="com.github.crazyrunsnail.template.model.User">
        select
        <include refid="Base_Column_List" />
        from users
        where username = #{username}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from users
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.crazyrunsnail.template.model.User"
            useGeneratedKeys="true">
        insert into users (username, name, password,
        roles_array_json, logged_in_at, created_at,
        updated_at)
        values (#{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{rolesArrayJson,jdbcType=VARCHAR}, #{loggedInAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP},
        #{updatedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.github.crazyrunsnail.template.model.User" useGeneratedKeys="true">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="rolesArrayJson != null">
                roles_array_json,
            </if>
            <if test="loggedInAt != null">
                logged_in_at,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="rolesArrayJson != null">
                #{rolesArrayJson,jdbcType=VARCHAR},
            </if>
            <if test="loggedInAt != null">
                #{loggedInAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.crazyrunsnail.template.model.User">
        update users
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="rolesArrayJson != null">
                roles_array_json = #{rolesArrayJson,jdbcType=VARCHAR},
            </if>
            <if test="loggedInAt != null">
                logged_in_at = #{loggedInAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.crazyrunsnail.template.model.User">
        update users
        set username = #{username,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        roles_array_json = #{rolesArrayJson,jdbcType=VARCHAR},
        logged_in_at = #{loggedInAt,jdbcType=TIMESTAMP},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>